* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.body_bg {
    background: url(../images/body_bg.png) left top repeat-x #f1f4ff;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    text-rendering: optimizeLegibility;
    color: #333;
    height: 100%;
    min-width: 1024px;
    font-size: 14px;
}

.wrapper {
    width: 1069px;
    margin: 0 auto;
}

header {
    height: 35px;
    color: #fff;
    line-height: 35px;
}

.fjsksy_bg {
    display: block;
}

.menu {
    display: flex;
    height: 55px;
    background: #0166b6;
}

.menu ul {
    display: flex;
    padding-right: 35px;
}

.menu li:hover {
    background-color: #fc9400;
}

.menu li:hover:last-child {
    background-color: transparent;
}

.menu li a {
    padding: 0 16px;
    height: 55px;
    line-height: 55px;
    display: inline-block;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

#search_box {
    display: inline-block;
    flex: 1;
    align-self: center;
}

#search_bar {
    width: 150px;
    height: 25px;
    text-indent: 10px;
    outline-style: none;
}

.menu .icon-icon-test2 {
    font-size: 28px;
    background-color: transparent;
    color: #fff;
    border: none;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}

.sub_menu {
    display: block;
    background: url(../images/submenu_bg.png) repeat-x;
    height: 34px;
    display: none;
}

.sub_menu ul {
    display: flex;
}

.sub_menu a {
    margin-left: 20px;
    color: #0166b6;
    line-height: 34px;
}

.lunbotu {
    position: relative;
    border: 6px solid #FFF;
    height: 205px;
    overflow: hidden;
}

.lunbotu img {
    width: 1069px;
    height: 205px;
}

/* .lunbotu_item .active {
    opacity: 1;
} */

.lunbotu_control_box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
    height: 50px;
}

.lunbotu .icon-icon-test8 {
    background-color: #ffffff82;
    color: #ffffffe6;
    font-size: 30px;
    display: inline-block;
    height: 30px;
    padding: 0 3px;
    cursor: pointer;
}

.xiaoyuandian_box {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff82;
    width: 165px;
    height: 30px;
}

.xiaoyuandian {
    align-self: center;
}

.xiaoyuandian .active {
    background-color: #75fd69;
}

.xiaoyuandian span {
    display: inline-block;
    background-color: #ffffffc8;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.lunbotu .icon-icon-test10 {
    background-color: #ffffff82;
    color: #ffffffe6;
    font-size: 30px;
    display: inline-block;
    height: 30px;
    padding: 0px 3px;
    cursor: pointer;
}

.main_left_right-side_nav_big_box {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.left_big_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 845px;
    height: 930px;
}

.news_big_box {
    display: flex;
    width: 845px;
    height: 370px;
    background-color: #f1f4ff;
}

.news_big_box .left {
    width: 384px;
    height: 370px;
    margin-right: 10px;
    background-color: #fff;
}

.news_big_box .left .top_img {
    display: flex;
    width: 384px;
    height: 285px;
    object-fit: contain;
    overflow: hidden;
}

.news_big_box .left .top_img a {
    width: 100%;
    height: 100%;
}

.news_big_box .left .bottom_img_big_box {
    position: relative;
    width: 384px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news_big_box .left .bottom_img_big_box img {
    width: 121px;
    height: 73px;
}

.news_big_box .left .bottom_img_big_box img:hover {
    cursor: pointer;
}

.news_big_box .left .bottom_img_big_box .target_img {
    position: absolute;
    width: 121px;
    height: 79px;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transform: translate(5%, -6%);
    background: url(../images/scrollimg.png) no-repeat 0px 0px;
}

.news_big_box .right {
    width: 100%;
    background-color: #FFF;
}

.news_big_box .right .contain {
    display: flex;
    flex-wrap: wrap;
    line-height: 48px;
    padding: 0 10px;
}

.news_big_box .right .hot_title {
    width: 100%;
    height: 48px;
    border-bottom: 1px dotted #333;
    text-align: center;
}

.hot_title a {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.new_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.new_list li {
    position: relative;
    width: 100%;
    line-height: 35px;
    /* list-style: url(../images/list_icon.png) inside; */
}

.new_list li a {
    color: black;
    margin-left: 10px;
}

.new_list li img {
    position: absolute;
    width: 3px;
    height: 3px;
    top: 46%;
    left: 3px;
}

.new_list span {
    position: absolute;
    right: 5px;
}

.auto_img {
    display: flex;
    width: 845px;
    height: 96px;
    overflow: hidden;
}

.auto_img a {
    width: 100%;
    height: 100%;
}

.same_box {
    width: 417px;
    height: 215px;
    background-color: #FFF;
}

.blue_title {
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-bottom: 1px solid #0166b6;
    align-items: center;
}

.blue_title span {
    background-color: #0166b6;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bolder;
}

.blue_title a {
    color: #c3c3c3;
    margin-right: 10px;
}

.right-side_nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 205px;
    height: 100%;
    background-color: #FFF;
    overflow: hidden;
}

.right-side_nav .same_box_right_nav {
    display: flex;
    width: 205px;
    height: 42px;
    border-left: 3.5px solid gainsboro;
    border-bottom: 3.5px solid gainsboro;
    background-color: #FFF;
    justify-content: space-evenly;
    align-items: center;
}

.right-side_nav .same_box_right_nav:hover {
    background-color: #cbfdffdc;
}

.right-side_nav .same_box_right_nav span {
    display: flex;
    margin-left: -34px;
    width: 84px;
    color: black;
    justify-content: space-between;
}

footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #0057b6;
    margin-top: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}
